.main_button_container{
    position: absolute;
    left: 215px;
    top: 75px;
    width: 1500px;
    height: 500px;
    background-image: url("./../images/main_screen/main_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}


.info_button_container{
    position: absolute;
    top: 750px; /* 600px */
    left: 500px;
    width: 1000px;
    height: 600px;
    background-image: url("../images/main_screen/learn_more_button.png");
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
}
.info_text_container{
    position: absolute;
    top: 400px; /* 600px */
    left: 325px;
    width: 1300px;
    height: 800px;
    background-image: url("../images/main_screen/learn_more_text.png");
    background-size:contain;
    background-repeat: no-repeat;
    pointer-events: none;
}