.main_button_container{
    position: absolute;
    left: 500px;
    top: 160px;
    width: 1000px;
    height: 400px;
    background-image: url("./../images/loop_plashka.gif");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.main_button{
    margin: auto;
    color: white; font-size: 78px;
    margin-top: 7%;
    text-align: center;
}

.info_button_container{
    position: absolute;
    top: 1000px; /* 600px */
    left: 650px;
    width: 600px;
    height: 200px;
    background-image: url("../images/learn_more.png");
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
}

.info_button{
    background-size:contain;
    background-repeat: no-repeat;
    margin: auto;
    color: white;
    font-size: 29px;
    margin-top: 14%;
    text-align: center;
    vertical-align: middle;
}


.partners{
    position: absolute;
    color: white;
    font-size: 34px;
    top:80px;
    left: 200px;
}
