.partner_button{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 650px;
}
.partner_button_detailes{
    color: white;
    background-image: url("../images/partners_details_button.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-top: -30px;

}
.partner_button_logo{
    width: 100%;
}

.partner_text{
    font-size: 27px;
    color: white;
    text-align: center;
    margin-left: -150px;
    width: 160%;
}
.vendors_graphics{
    position: absolute;
    top: 80px;
    left: 110px;
    width: 800px;
    height: 100px;
    background-image: url('../images/vendors.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.vendors_text{
    position: absolute;
    top: 200px;
    left: 120px;
    width: 800px;
    height: 100px;
    font-size: 50px;
    color:white;
}