.partner_button{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}
.partner_button_detailes{
    color: white;
    background-image: url("../images/partners_details_button.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-top: -30px;

}
.partner_button_logo{
    width: 100%;
}

.partner_text{
    font-size: 27px;
    color: white;
    text-align: center;
    margin-left: -150px;
    width: 160%;
}
